<h1>Home#index</h1>
<p></p>

<% for table in @coins %>
    <% for coin in @mycoins %>
        <% if coin == table['symbol'] %>
            <%= table['name'] %> : $<%= table["price_usd"] %> </br>
        <% end %>
    <% end %>
<% end %>
