<br><br>
<div class = "card ">
    <div class = "card-header">
    New Crypto
    </div>
    <div class = "card-body">
        <h5 class="card-title">Add a new crypto to you portfolio</h5>
        <%= render 'form', crypto: @crypto %>
        <%= link_to 'Back', cryptos_path %>
    </div>
</div>
